/* Colors and fonts */
body {
	background: #d3e0ea;
	color: #276678;
	font-family: 'Helvetica';
	font-size: 17px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	color: #1687a7; 
	font-size: 32px;
	font-weight: 900;
}

h2 {
	color: #276678;
	font-size: 24px;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #1687a7;
	font-size: 16px;
}
a:hover {
	color: #276678;
}

/*Custom design*/

 .container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}


@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #d3e0ea;
	color: #276678;
	padding: 15px 20px;
	border-radius: 8px;
}
.btn-blue:hover {
	background-color: #276678;
	color: #d3e0ea;
}
.list-inline {
	list-style: none;
	padding-left: 0px; 
}
.list-inline > li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: #d3e0ea;
}
.list-inline i:hover {
	font-size: 50px;
	color: #276678;
}

/* Design adjustments using id */
#introduction p {
	margin-bottom: 40px;
}
